.lanyard-wrapper {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(10px);
  transform-origin: center;
  isolation: isolate;
}

.lanyard-wrapper canvas {
  position: relative !important;
  z-index: 9999 !important;
}
